# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv
env/
venv/
faceenv/

# VS Code
.vscode/

# Mac / Windows / Linux system files
.DS_Store
Thumbs.db

# Logs
logs/*.txt
logs/*.csv

# Dataset (optional)
dataset/*

# Images
*.jpg
*.jpeg
*.png

# Temp files
*.log
*.tmp
